SHOPPING_APP_TITLE=XXX

SHOPPING_ROOT_API=XXX
SHOPPING_USER_API=XXX

FIREBASE_API_KEY=XXX
FIREBASE_AUTH_DOMAIN=XXX
FIREBASE_PROJECT_ID=XXX
FIREBASE_STORAGE_BUCKET=sXXX
FIREBASE_MESSAGING_SENDER_ID=XXX
FIREBASE_APP_ID=XXX