PORT=XXX

IS_PRODUCTION=XXX

HOME_URL_DEV=XXX
HOME_URL_PROD=XXX

FIREBASE_CONFIG_TYPE=XXX
FIREBASE_CONFIG_PROJECT_ID=XXX
FIREBASE_CONFIG_PRIVATE_KEY_ID=XXX
FIREBASE_CONFIG_PRIVATE_KEY=XXX
FIREBASE_CONFIG_CLIENT_EMAIL=XXX
FIREBASE_CONFIG_CLIENT_ID=XXX
FIREBASE_CONFIG_AUTH_URI=XXX
FIREBASE_CONFIG_TOKEN_URI=XXX
FIREBASE_CONFIG_AUTH_PROVIDER_X509_CERT_URL=XXX
FIREBASE_CONFIG_CLIENT_X509_CERT_URL=XXX
FIREBASE_CONFIG_UNIVERSE_DOMAIN=XXX